# See http://help.github.com/ignore-files/ for more about ignoring files.

npm-debug.log
.vs/
packages/

CPSolutions.Api/bin/
CPSolutions.Api/obj/

CPSolutions.Application/bin/
CPSolutions.Application/obj/

CPSolutions.Data/bin/
CPSolutions.Data/obj/

CPSolutions.Domain/bin/
CPSolutions.Domain/obj/
